:local .root {
  margin-top: 60px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  font-family: Montserrat, Arial, sans-serif;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

:local .isPrimary {
  color: #e44d5d;
}